<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="create" href="/tabs/create">
            <ion-icon aria-hidden="true" name="triangle"></ion-icon>
            <ion-label>Crear Solicitud</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="update" href="/tabs/update">
            <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
            <ion-label>Editar solicitud</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="get" href="/tabs/get">
            <ion-icon aria-hidden="true" name="square"></ion-icon>
            <ion-label>Consultar solicitud</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="sync" href="/tabs/sync">
            <ion-icon aria-hidden="true" name="square"></ion-icon>
            <ion-label>Sincronizar solicitud</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>